header
  .container
    a(href="#").header__link-item.link__item-brand Rollie 
      span for iPhone
    a(href="#").header__link-item.link__item-appStore Available on the App Store 
      <i class="fas fa-long-arrow-alt-right"></i>