main
  .container
    section.slogan
      .slogan__title
        h1 The simpler way to check your spending and balances
      .slogan__button
        a(href="#") Available on the App Store 
        <i class="fas fa-long-arrow-alt-right"></i>
    section.slider
      .slider__container
        .slide__item#slide-1
          img(src="../../images/slider/slide-1.png", alt="product_image_slide")
        .slide__item#slide-2
          img(src="../../images/slider/slide-2.png", alt="product_image_slide")
        .slide__item#slide-3
          img(src="../../images/slider/slide-3.png", alt="product_image_slide")
        .slide__item#slide-4
          img(src="../../images/slider/slide-4.png", alt="product_image_slide")
        .slide__item#slide-5
          img(src="../../images/slider/slide-5.png", alt="product_image_slide")
        .slide__item#slide-6
          img(src="../../images/slider/slide-6.png", alt="product_image_slide")
